@import '../global.scss';

.navbar {
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
    padding-top: 0;
    padding-bottom: 0;
  
    .navbar-brand{
        padding: 0.625rem;
        margin-right: 2.5rem;
    }
    
    .nav-link{
        .material-icons{
            vertical-align: top;
        }
        span{
            margin-left: 0.5rem;
        }
    }

    .nav-item{
        padding: 0.625rem;
    }
    
    .user{
        .dropdown-toggle.nav-link{
            margin-left: -0.625rem;
        }
        .user-default{
            height: 2.1875rem;

            .material-icons{
                border-radius: 50%;
                padding: 0.3125rem;
                color: $primary;
                background-color: $light;
                vertical-align: middle;
            }
        }

        img{
            height: 2.1875rem;
            width: auto;
        }

        span{
            padding-right: 0.625rem;
        }
    }
}

@mixin navbar-palette($background, $text-color, $icon-color, $hover-color){
    background-color: $background;
    .navbar-brand,
    .navbar-text{    
        color: $text-color;
    }
    
    a, .material-icons,
    .nav-link .material-icons{
        color: $icon-color;
    }

    .nav-item:hover{
        background-color: $hover-color;
    }
}

.nb-primary{
    @include navbar-palette($primary, $light, #fff, $primary-dark);
}

.nb-light{
    @include navbar-palette(#fff, $font-dark, $font-dark-1, $light);
}