@import '../global.scss';

.service-item{
    height: 4.6875rem;
    border-radius: 0.625rem;
    background-color: white;
    border: 0.125rem $light-1 solid;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    padding: 0 0.75rem;
    position: relative;

    a{
        text-decoration: none;
    }

    &::before{
        content: "";
        width: 0.4375rem;
        height: 2.5rem;
        background-color: #ffc107;
        position: absolute;
        top: calc( (4.6875rem - 2.5rem) / 2);
        left: -0.25rem;
    }

    .row,
    .col{
        height: inherit;
        line-height: 4.6875rem;
        min-width: 0;
        p{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    .col:first-child{
        color: $font-dark;
        font-weight: bold;
    }

    .col:nth-child(2){
        font-size: 0.875rem;
        color: $font-dark-1;
    }

    .col:last-child{
        .material-icons{
            vertical-align: middle;
        }
    }

    &.denied::before{
        background-color: #dc3545;
    }

    &.approved::before{
        background-color: #007bff;
    }

    &.completed::before{
        background-color: #28a745;
    }

    &:hover, &.active{
        background-color: $light-1;
    }

    
}