@import '../../../assets/css/global.scss';

.bt-2{
    @include border(border-top, 2px, $light-1, solid);
}

.br-2{
    @include border(border-right, 2px, $light-1, solid);
}

.bb-2{
    @include border(border-bottom, 2px, $light-1, solid);
}

.bl-2{
    @include border(border-left, 2px, $light-1, solid);
}

.service-list{
    background-color: $light;
    min-height: 100vh;
    padding: 12px 15px;
}

.service-item{
    height: 75px;
    border-radius: 10px;
    background-color: white;
    border: 2px $light-1 solid;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0 12px;
    position: relative;

    &::before{
        content: "";
        width: 7px;
        height: 40px;
        background-color: #ffc107;
        position: absolute;
        top: calc( (75px - 40px) / 2);
        left: -4px;
    }

    .row,
    .col{
        height: inherit;
        line-height: 75px;
        min-width: 0;
        p{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    .col:first-child{
        color: $font-dark;
        font-weight: bold;
    }

    .col:nth-child(2){
        font-size: 14px;
        color: $font-dark-1;
    }

    .col:last-child{
        .material-icons{
            vertical-align: middle;
        }
    }

    &.denied::before{
        background-color: #dc3545;
    }

    &.approved::before{
        background-color: #007bff;
    }

    &.completed::before{
        background-color: #28a745;
    }
}