@import '../../assets/css/global.scss';

.navbar {
    margin-left: -15px;
    margin-right: -15px;
    padding-top: 0;
    padding-bottom: 0;
  
    .navbar-brand{
        padding: 10px;
        margin-right: 40px;
    }
    
    .nav-link{
        .material-icons{
            vertical-align: top;
        }
        span{
            margin-left: 8px;
        }
    }

    .nav-item{
        padding: 10px;
    }
    
    .user{
        img{
            height: 35px;
            width: auto;
        }

        span{
            margin-left: 15px;
        }
    }
}

@mixin navbar-palette($background, $text-color, $icon-color, $hover-color){
    background-color: $background;
    .navbar-brand,
    .navbar-text{    
        color: $text-color;
    }
    
    a, .material-icons,
    .nav-link .material-icons{
        color: $icon-color;
    }

    .nav-item:hover{
        background-color: $hover-color;
    }
}

.nb-primary{
    @include navbar-palette($primary, $light, #fff, $primary-dark);
}

.nb-light{
    @include navbar-palette(#fff, $font-dark, $font-dark-1, $light);
}