// variables
$primary : #5D81EC;
$primary-dark : #5576D8;

$light : #FAFBFC;
$light-1 : #F3F3FB;

$font-dark: #395881;
$font-dark-1: #687F9F;


// mixins
@mixin border($property, $width,  $color, $style){
    #{$property}: $width $color $style;
}

@mixin font($size, $color){
    color: $color;
    font-size: $size;
}

//fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

span, p,
h1, h2, h3, h4, h5{
    font-family: 'Roboto', sans-serif;
}

// global

.heading{
    text-transform: uppercase;
    font-weight: bold;
}

.center-all{
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
}

.danger {
    background-color: #dc3545;
}

.success {
    background-color: #28a745;
}

.warning {
    background-color: #ffc107;
}

.info{
    background-color: #007bff;
}

.primary-font{
    color: $font-dark;
}