@import '../../global.scss';

.bt-2{
    @include border(border-top, 0.125rem, $light-1, solid);
}

.br-2{
    @include border(border-right, 0.125rem, $light-1, solid);
}

.bb-2{
    @include border(border-bottom, 0.125rem, $light-1, solid);
}

.bl-2{
    @include border(border-left, 0.125rem, $light-1, solid);
}

.service-list{
    background-color: $light;
    padding: 0.75rem 0.9375rem;
}

@media (min-width: 48.0625rem){
    .service-list{
        min-height: calc(100vh - (4.375rem + 3.9375rem));
    }
}
@media (max-width: 48rem){
    .service-list{
        min-height: calc(100vh - (3.75rem + 3.75rem));
    }
}